<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1><a href="{{ path('homepage') }}">Geography</a></h1>
        <ul>
            <!-- rivers -->
            <li><a href="{{ path('river') }}">Rivers</a></li>
            <!-- rivers -->

            <!-- rivers -->
            <!-- rivers -->

            <!-- oceans -->
            <!-- oceans -->

            <!-- deserts -->
            <li><a href="{{ path('desert') }}">Deserts</a></li>
            <!-- deserts -->

            <!-- seas -->
            <!-- seas -->

            <!-- lakes -->
            <li><a href="{{ path('lake') }}">Lakes</a></li>
            <!-- lakes -->

            <!-- mountains -->
            <!-- mountains -->

            <!-- continents -->
            <li><a href="{{ path('continent') }}">Continents</a></li>
            <!-- continents -->

            <!-- countries -->
            <li><a href="{{ path('country') }}">Countries</a></li>
            <!-- countries -->
            
            <!-- channels -->
            <li><a href="{{ path('channel') }}">Channels</a></li>
            <!-- channels -->
            
            <!-- cities -->
            <!-- cities -->
            
            <!-- straits -->
            <li><a href="{{ path('strait') }}">Straits</a></li>
            <!-- straits -->
            
            <!-- peninsulas -->
            <li><a href="{{ path('peninsula') }}">Peninsulas</a></li>
            <!-- peninsulas -->      
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
