<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li>
                Biology
                <ul>
                    <li>
                        Animals
                    </li>
                    <li>
                        Trees
                        <ul>
                            <li><a href="{{ path('biology-trees-oak') }}">Oak</a></li>
                            <li><a href="{{ path('biology-trees-birch') }}">Birch</a></li>
                            <li><a href="{{ path('biology-trees-hornbeam') }}">Hornbeam</a></li>
                            <li><a href="{{ path('biology-trees-willow') }}">Willow</a></li>
                            <li><a href="{{ path('biology-trees-pine') }}">Pine</a></li>
                            <li><a href="{{ path('biology-trees-larch') }}">Larch</a></li>
                        </ul>
                    </li>
                    <li>
                        Flowers
                        <ul>
                            <li><a href="{{ path('biology-flowers-rose') }}">Rose</a></li>
                            <li><a href="{{ path('biology-flowers-iris') }}">Iris</a></li>
                            <li><a href="{{ path('biology-flowers-violet') }}">Violet</a></li>
                            <li><a href="{{ path('biology-flowers-tulip') }}">Tulip</a></li>
                        </ul>
                    </li>
                    <li>
                        Reptiles
                        <ul>
                            <li><a href="{{ path('biology-reptiles-aligator') }}">Aligator</a></li>
                            <li><a href="{{ path('biology-reptiles-rattlesnake') }}">Rattlesnake</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Cars
                <ul>
                    <li>
                        Fiat
                    </li>
                    <li>
                        Ford
                    </li>
                    <li>
                        Citroen
                    </li>
                </ul>
            </li>
            <li>
                Poems
                <ul>
                    <li>
                        Poe
                        <ul>
                            <li><a href="{{ path('poems-poe-raven') }}">Raven</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
