<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@GajdawBDDTutorialGeographyBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1><a href="{{ path('homepage') }}">Geography</a></h1>


        <ul class="nav nav-tabs">
            <!-- rivers -->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('river') }}" role="button" aria-expanded="false">
                    Rivers <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('river') }}">list</a></li>
                    <li><a href="{{ path('river_new') }}">create new</a></li>
                </ul>
            </li>
            <!-- rivers -->

            <!-- oceans -->
            <!-- oceans -->

            <!-- deserts -->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('desert') }}" role="button" aria-expanded="false">
                    Deserts <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('desert') }}">list</a></li>
                    <li><a href="{{ path('desert_new') }}">create new</a></li>
                </ul>
            </li>
            <!-- deserts -->

            <!-- seas -->
            <!-- seas -->

            <!-- lakes -->
            <li><a href="{{ path('lake') }}">Lakes</a></li>
            <!-- lakes -->

            <!-- mountains -->
            <!-- mountains -->

            <!-- continents -->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('continent') }}" role="button" aria-expanded="false">
                    Continents <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('continent') }}">list</a></li>
                    <li><a href="{{ path('continent_new') }}">create new</a></li>
                </ul>
            </li>
            <!-- continents -->

            <!-- countries -->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('country') }}" role="button" aria-expanded="false">
                    Countries <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('country') }}">list</a></li>
                    <li><a href="{{ path('country_new') }}">create new</a></li>
                </ul>
            </li>
            <!-- countries -->
            
            <!-- channels -->
            <li><a href="{{ path('channel') }}">Channels</a></li>
            <!-- channels -->
            
            <!-- cities -->
            <!-- cities -->
            
            <!-- straits -->
            <li><a href="{{ path('strait') }}">Straits</a></li>
            <!-- straits -->
            
            <!-- peninsulas -->
            <li><a href="{{ path('peninsula') }}">Peninsulas</a></li>
            <!-- peninsulas -->      
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@GajdawBDDTutorialGeographyBundle/Resources/public/js/*' %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
