{% extends '::base.html.twig' %}

{% block body -%}
    <h1>River list</h1>

    <div class="count">
        Number of records: {{ pagination.getTotalItemCount }}
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Length</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for river in pagination %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td><a href="{{ path('river_show', { 'id': river.id }) }}">{{ river.name }}</a></td>
                <td>{{ river.length }}</td>
                <td>
                    <a href="{{ path('river_show', { 'id': river.id }) }}" class="btn btn-default" role="button">show</a>
                    <a href="{{ path('river_edit', { 'id': river.id }) }}" class="btn btn-default" role="button">edit</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('river_new') }}" class="btn btn-primary btn-lg btn-success" role="button">Create a new entry</a>
    </p>

    {% endblock %}
