{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Channel creation</h1>

    {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_errors(form.channel) }}
            {{ form_label(form.channel, 'Channel', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.channel, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.length) }}
            {{ form_label(form.length, 'Length', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.length, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('channel') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
