{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Continent list</h1>

    <div class="count">
        Number of records: {{ pagination.getTotalItemCount }}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Area</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in pagination %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td><a href="{{ path('continent_show', { 'id': continent.id }) }}">{{ continent.name }}</a></td>
                <td>{{ continent.area }}</td>
                <td>
                    <a href="{{ path('continent_show', { 'id': continent.id }) }}" class="btn btn-default" role="button">show</a>
                    <a href="{{ path('continent_edit', { 'id': continent.id }) }}" class="btn btn-default" role="button">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <p>
            <a
                href="{{ path('continent_new') }}"
                class="btn btn-primary btn-lg"
                role="button">
                Create a new entry
            </a>
        </p>
    {% endblock %}
