{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Country list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>Area</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td><a href="{{ path('country_show', { 'id': entity.id }) }}">{{ entity.country }}</a></td>
                <td>{{ entity.area }}</td>
                <td>
                    <a href="{{ path('country_show', { 'id': entity.id }) }}" class="btn btn-default" role="button">show</a>
                    <a href="{{ path('country_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('country_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
